<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2022
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cadmium.nichijo.mapper.ArticleMapper">

  <resultMap id="basicMap" type="org.cadmium.nichijo.entity.Article">
    <id column="id" property="id"/>
    <result column="tags" property="tags"/>
    <result column="title" property="title"/>
    <result column="user_id" property="userId"/>
    <result column="content" property="content"/>
    <result column="type_name" property="typeName"/>
    <result column="is_draft" property="isDraft"/>
    <result column="is_public" property="isPublic"/>
    <result column="is_remarks" property="isRemarks"/>
    <result column="is_recommend" property="isRecommend"/>
  </resultMap>

  <select id="list" resultType="org.cadmium.nichijo.entity.Article">

  </select>
</mapper>
